.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 20px;
}

.form__input {
  max-width: 100%;
  padding: 8px;
}

.form__submit {
  background-color: teal;
  color: #FFF;
  border: none;
  padding: 8px;
  transition: background 0.5s, transform 1s;
}

.form__submit:hover {
  background-color: hsl(180, 100%, 35%);
  transform: scale(1.1)
}

@media (max-width: 450px) {
  .form {
    grid-template-columns: auto;
  }
}