.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 20px;
}

.form__input {
  max-width: 100%;
  padding: 8px;
}

.form__submit {
  background-color: teal;
  color: #FFF;
  border: none;
  padding: 8px;
}

@media (max-width: 450px) {
  .form {
    grid-template-columns: auto;
  }
}