.section {
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #d7d3d312;
    margin-bottom: 10px;
}

.section__title {
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #f1f1f1;
}

.section__tasks {
    padding: 0px;
    margin: 0;
}

.section__item {
    padding: 20px;
    border-bottom: 2px solid #f1f1f1;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
}

.section__submit {
    background-color: green;
    border: none;
    width: 40px;
    height: 40px;
}

.section__submit--remove {
    background-color: red;
    border: none;
    width: 40px;
    height: 40px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48;
    color: #FFF;
}

.done {
    display: none;
}